<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <br/>
  <p>Recebemos uma solicitação de redefinição de senha para a sua conta!</p>
  <p>Click no link para redefinir sua senha</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <br/>
  <p>Caso não tenha sido você que tenha solicitado a troca de senha desconsidere esse email</p>
  <br>
  <p>Obrifado pela atenção!</p>
</div>
